In [1]:
import pandas as pd
pd.set_option('display.max_columns', 100)
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import lux
from scipy import stats

In [2]:
df3 = pd.read_csv('data/df3', index_col = 'Census Tract')

In [3]:
dp = pd.read_csv('data/ces3results/demographic_profile_3.csv',  index_col = 'Census Tract ')

In [4]:
dp.head()

/Users/jaclynhenn/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/formatters.py:345: UserWarning:
Lux defaults to Pandas when there are no valid actions defined.

,CES 3.0 Score,CES 3.0 Percentile,CES 3.0 \nPercentile Range,Total Population,County,Children < 10 (%),Pop 11-64 years (%),Elderly > 65 (%),Hispanic (%),White (%),African American (%),Native American (%),Asian American (%),Other (%)
Census Tract,,,,,,,,,,,,,,
6019001100,94.09,100.00,95-100% (highest scores),3174,Fresno,18.8,73.6,7.6,65.3,4.2,24.6,0.5,3.5,1.8
6071001600,90.68,99.99,95-100% (highest scores),6133,San Bernardino,19.7,76.1,4.2,91.1,5.8,0.7,0.3,1.4,0.7
6019000200,85.97,99.97,95-100% (highest scores),3167,Fresno,21.5,72.5,6.0,63.6,5.3,18.9,0.6,9.8,1.8
6077000801,82.49,99.96,95-100% (highest scores),6692,San Joaquin,18.7,74.5,6.8,57.4,6.0,12.5,0.3,20.9,2.8
6019001500,82.03,99.95,95-100% (highest scores),2206,Fresno,14.8,72.1,13.1,71.8,21.4,1.2,0.5,4.5,0.6

In [5]:
dp[dp['Total Population'] == 0]

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [6]:
dp.drop([6037320000, 6037980001, 6037980002, 6037980005, 6037980006, 6037980007, 6037980020, 6037980025, 
        6037980030, 6071980100, 6081984300], inplace = True)

In [7]:
dp.drop(columns = [' CES 3.0 Score', 'CES 3.0 Percentile', ' CES 3.0 \nPercentile Range', 
                  'Total Population', 'County'], axis = 1, inplace = True)

In [8]:
dp.info()

<class 'lux.core.frame.LuxDataFrame'>
Int64Index: 8024 entries, 6019001100 to 6111980000
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Children < 10 (%)     8024 non-null   float64
 1   Pop 11-64 years (%)   8024 non-null   float64
 2   Elderly > 65 (%)      8024 non-null   float64
 3   Hispanic (%)          8024 non-null   float64
 4   White (%)             8024 non-null   float64
 5   African American (%)  8024 non-null   float64
 6   Native American (%)   8024 non-null   float64
 7   Asian American (%)    8024 non-null   float64
 8   Other (%)             8024 non-null   float64
dtypes: float64(9)
memory usage: 626.9 KB

In [9]:
dp.isna().sum()

Children < 10 (%)       0
Pop 11-64 years (%)     0
Elderly > 65 (%)        0
Hispanic (%)            0
White (%)               0
African American (%)    0
Native American (%)     0
Asian American (%)      0
Other (%)               0
dtype: int64

/Users/jaclynhenn/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/lib/pretty.py:700: UserWarning:
Lux defaults to Pandas when there are no valid actions defined.

In [10]:
dp.rename(columns = {'Census Tract ': 'Census Tract', 'Children < 10 (%)' : 'less_10_yrs', 'Pop 11-64 years (%)' : '11_64_yrs', 
                    'Elderly > 65 (%)': 'greater_65', 'Hispanic (%)': 'hispanic', 
                    'White (%)': 'white', 'African American (%)': 'african_american', 
                    'Native American (%)': 'native_american', 'Asian American (%)': 'asian_american', 
                    'Other (%)': 'other'}, inplace = True)

In [11]:
dp.head(2)

,less_10_yrs,11_64_yrs,greater_65,hispanic,white,african_american,native_american,asian_american,other
Census Tract,,,,,,,,,
6019001100,18.8,73.6,7.6,65.3,4.2,24.6,0.5,3.5,1.8
6071001600,19.7,76.1,4.2,91.1,5.8,0.7,0.3,1.4,0.7

In [13]:
df3.shape

(8024, 38)

In [14]:
dp.shape

(8024, 9)

In [17]:
ces3 = pd.merge(df3, dp, left_index = True, right_index = True)

In [18]:
ces3.head(2)

/Users/jaclynhenn/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/formatters.py:345: UserWarning:
Lux defaults to Pandas when there are no valid actions defined.

,Total Population,SB 535 Disadvantaged Community,Ozone,PM2.5,Diesel PM,Drinking Water,Pesticides,Tox. Release,Traffic,Cleanup Sites,Groundwater Threats,Haz. Waste,Imp. Water Bodies,Solid Waste,Pollution Burden Score,Low Birth Weight,Education,Linguistic Isolation,Unemployment,Housing Burden,Pop. Char. Score,disadvantaged_Yes,pm_halves,diesel_levels,pbs,pm_halves_pm_upper,diesel_levels_diesel_2,diesel_levels_diesel_3,diesel_levels_diesel_4,pbs_2,pbs_3,pbs_4,pbs_5,pbs_6,pbs_7,pbs_8,pbs_9,pbs_10,less_10_yrs,11_64_yrs,greater_65,hispanic,white,african_american,native_american,asian_american,other
6019001100,3174,Yes,0.065,15.40,48.524,681.20,2.75,18551.957190,909.14,80.5,45.75,0.795,0,21.75,9.85,7.44,53.3,16.2,17.6,26.0,9.55,1,pm_upper,diesel_4,9,1,0,0,1,0,0,0,0,0,0,0,1,0,18.8,73.6,7.6,65.3,4.2,24.6,0.5,3.5,1.8
6071001600,6133,Yes,0.062,13.31,38.556,904.66,1.37,7494.236622,782.26,66.2,36.00,1.250,5,12.00,10.00,7.04,53.3,33.4,12.3,34.1,9.07,1,pm_upper,diesel_4,10,1,0,0,1,0,0,0,0,0,0,0,0,1,19.7,76.1,4.2,91.1,5.8,0.7,0.3,1.4,0.7

In [21]:
ces3.to_csv('data/ces3')